<div class="container containerize">
<% @docs.each do |doc| %>
<%= link_to doc, class: "decorate" do %>
  <div class="panel-group box">
    <div class="panel panel-default">
      <div class="panel-heading text-center"><%= doc.title %></div>
      <div class="panel-body"> <%= time_ago_in_words(doc.created_at) %><br> <%= truncate(doc.content, length:300) %></div>
    </div>
</div>
<% end %>
<% end %>
</div>
