<section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>FileNote</h2>
        <h3>Your life's work. Organized, always.</h3>
        <a class="btn btn-primary btn-lg" href="/users/sign_up">Sign Up</a>
      </div>
    </div>
  </section>

  <div class="secondjumbo">
    <h1>Organize</h1>
    <p>
       Coming up with a system of organization all the paper in your life takes thought and planning. And making use of it requires <br>
       time and effort. In the short run, letting papers
       pile up is a lot easier. <br>But in the long run, doing so can turn into a major headache.Taking the time and effort to <br>develop a s
       ystematic way of organizing your papers can result in a lot less stress and hassle in your life.
    </p>
  </div>

 <div class="thirdjumbo">
   <div class="container">
     <div class="row text-center marginb">
    <h3>Sign up for free from our main website, no strings attached, no billing information needed.</h3>
    <a class="btn btn-primary btn-lg" href="/users/sign_up">Continue</a>
  </div>
</div>
</div>
